*,
 *:after,
 *:before {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
 }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ ���*/
.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bpicons/bpicons.woff') format('woff'),
	url('../fonts/bpicons/bpicons.ttf') format('truetype'),
	url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */


body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: rgba(104,147,50);
}


@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}

body {
	background: #ddd url(../Images/egg_shell.jpg)repeat top left;
	overflow: scroll;
	overflow-x: hidden;
	zoom:0.8;
	/**zoom:0.5;*/
}

#lock{
	display: block;
	z-index: 999996;
}

.lock{
	z-index: 999996;
}

.topLogo {
	Height: 60px;
	display: block;
	margin: auto;
}

.MainLogo {
	  position: absolute;
	  Height: 20px;
	  left: 20px;
	  top: 19px;
  }

.error {
	position: absolute;
	Height: 640px;
	left: 15%;
}

.LoginLogo {
	position: absolute;
	Height: 50px;
	right: 60px;
	top: 5px;
}


/* Header Style */
.windows-top {
	line-height: 60px;
	font-size: 11px;
	background: #ddd url(../Images/egg_shell.png) repeat top left;
	z-index: 9999;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	display: none;
}

/* windowsbottom Style */
.windows-bottom {
	line-height: 10px;
	font-size: 11px;
	background: #ddd url(../Images/egg_shell.png) repeat top left;
	z-index: 9999;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	display: none;
}

.bottomLogo {
	position: fixed;
	width: 293px;
	height: 30px;
	right: 10px;
	margin-top: 5px;
	float: right;
}
/**ҳ�����ǰ����**/
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 999996;
	display: none;
}

#overlayWord {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 999996;
	display: none;
}

#Lodinganimation {
	position: fixed;
	left: 50%;
	margin-left: -250px;
	z-index: 999996;
	display: none;
}

#mainbody {
	display: none;
}

.loginPic {
	position: fixed;
	left: 50%;
	margin-top: 347px;
	margin-left: -60px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	z-index: 999999;
	overflow: hidden;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
}

.loginPicslide {
	position: fixed;
	left: 50%;
	height: 5px;
	margin-left: -210px;
	border-radius: 50%;
	z-index: 999998;
	overflow: hidden;
}

#LoginForm {
	position: fixed;
	left: 50%;
	margin-left: -215px;
	width: 10px;
	height: 400px;
	border-radius: 50%;
	z-index: 999999;
}

#LoginNameAndPassword {
	opacity: 0;
	display: none;
}
/**����**/
#LockNameAndPassword {
	position: fixed;
	display: none;
	z-index: 999999;
}
/**����ogo**/
.loginSystemLogo {
	position: fixed;
	z-index: 99999999;
	text-align: center;
	left: 50%;
	margin-left: -490px;
}

.loginSystemLogo2 {
	position: fixed;
	text-align: center;
	left: 50%;
	margin-left: -490px;
	z-index: 99999999;
	display: none;
}
/**��¼ģʽ�µ�logo**/
#loginSystemLogoLogining {
	display: none;
}
/**����ģʽ�µ�logo**/
#lockSystemLogoLock {
}
/**LightBox**/
#LightBox {
	position: fixed;
	background: #f0f3a6;
	opacity: 0.9;
	z-index: 999997;
	height: 100%;
	width: 100%;
	display: none;
	top: 0px;
	left: 0px;
}

#message{
	position: fixed;
	z-index: 999998;
}

.message{
	position: fixed;
	z-index: 999998;
}

/**��ҳ��ҳ����**/
#covervid-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
/**sword�˵�**/
#swdrop {
	z-index: 999998;
	display: none;
}
/**���ֶ���**/
#music {
	position: fixed;
	opacity: 0;
	z-index: 999998;
	left: 50%;
	margin-left: -400px;
	top: 200px;
	display: none;
}
/**��Ƶ����**/
#videotop {
	position: fixed;
	opacity: 0;
	z-index: 999999;
	left: 50%;
	margin-left: -630px;
	top: 260px;
	display: none;
}
/**��Ƶģ��**/
.vjs-default-skin {
	color: #fff;
	-moz-box-shadow: 10px 10px 20px #000;
	-webkit-box-shadow: 10px 10px 20px #000;
	box-shadow: 10px 10px 20px #000;
}
/**���ֲ������ز��߿��С**/
.vjs-default-skin .vjs-control-bar {
	font-size: 200%
}
/****/
.txt-fld {
	position: fixed;
	width: 400px;
	padding: 14px 20px;
	text-align: center;
}

.txt-fld label {
	display: block;
	float: left;
	width: 90px;
	padding-top: 8px;
	color: #222;
	font-size: 1.3em;
	text-align: left;
}

.txt-fld input {
	width: 400px;
	padding: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 1.2em;
	color: #222;
	background: #F7F7F7;
	font-family: "Helvetica Neue";
	outline: none;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #E7E6E6;
	border-bottom: 1px solid #E7E6E6;
}

.txt-fld input.good_input {
	background: #fff url(../Images/good.png) 370px center no-repeat;
}

.txt-fld input.error_input {
	background: #FDE0E0;
}

p.error {
	position: absolute;
	bottom: 48px;
	right: 20px;
	width: 262px;
	color: #FFF;
	font-size: 1.1em;
	padding-bottom: 5px;
	background: url(img/error-arw.png) 20px bottom no-repeat;
	text-align: left;
	margin: 0;
	text-shadow: none;
}

p.error span {
	display: inline-block;
	background: #D43636;
	padding: 6px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.txt-fld input:focus, .txt-fld textarea:focus {
	background-color: #FAF9DC;
}









@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'),
	url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'),
	url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'),
	url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/app */

/* General style */

.grid-gallery{
	z-index: 9999999;
}


#grid-gallery{
	z-index: 9999999;
}

.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 999998;
}

.grid-gallery figure {
	margin: 0;
	z-index: 999998;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
	z-index: 999998;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
	z-index: 999998;
}

.grid-gallery figcaption p {
	z-index: 999998;
	margin: 0;

}

/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
	z-index: 999998;
}

.grid {
	margin: 0 auto;
	z-index: 999998;
}

.grid li {
	position: fixed;
	width: 25%;
	float: left;
	cursor: pointer;
	z-index: 999998;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	z-index: 999998;
}

.grid li:hover figure {
	opacity: 0.7;
	z-index: 999998;
}

.grid figcaption {
	background: #e4e4e4;
	padding: 25px;
	z-index: 999998;
}

/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(137,201,151,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	z-index: 999998;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 660px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(131,112,98);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	width: 100%;
	height: 100%;
	background: rgba(240,253,233);
	border: 50px solid #fff;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 200%;
}

/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #31373a;
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
	content: "\e601";
}

span.nav-next:before  {
	content: "\e600";
}

span.nav-close:before {
	content: "\e602";
}

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\e603";
}

.info-keys:after {
	right: 10px;
	content: "\e604";
}

/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 60em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}